@import "tailwindcss";

@theme {
    --color-primary: #6D28D9;
    --color-deep-purple: #4C1D95;
    --color-cosmic-blue: #1E40AF;
    --color-royal-indigo: #312E81;
    --color-violet-glow: #A855F7;

    --color-gold: #FBBF24;
    --color-golden-glow: #F59E0B;
    --color-soft-gold: #FDE68A;
    --color-mystic-pink: #EC4899;

    --color-space-dark: #0B0F1A;
    --color-deep-night: #111827;
    --color-dark-surface: #1A1F2E;
    --color-muted-gray: #334155;
    --color-light-gray: #CBD5E1;
    --color-soft-white: #F8FAFC;
}